/gta2net/
/LigumX/libPaths.pri
/LigumX/protoEngine.pro.user
/LigumX/build
/LigumX/output
/LigumX/x64
/LigumX/data/SRTMdata/
/LigumX/data/OSMdata/
*.orig
/Srtm2Osm/
LigumX.sdf
LigumX/data/textures/asphalt.jpg
LigumX/libs/FreeImage/OSX/libfreeimage*
*.ipch
*.opensdf
LigumX.VC.VC.opendb
LigumX.VC.db
LigumX/libs/win32/assimp/assimp-vc140-mt.exp
LigumX/libs/win32/curl/CMakeCache.txt
LigumX/libs/win32/curl/CMakeFiles/cmake.check_cache
